<% extends "main_template.html" %>
    <% block title %>%% professor['surname'] %% %% professor['name'] %%
        <%endblock%>
            <% block content %>
                <div class="container vs-main-con">
                    <div class="row">
                        <h1 class="card-heading">Professor:</h1>
                    </div>
                    <div class="row">
                        <div class="col prof-image-con">
                            <% if isMale %>
                                <img src="%% url_for('static', filename='images/placeholder_male.jpg') %%" alt="">
                                <% else %>
                                    <img src="%% url_for('static', filename='images/placeholder_female.jpg') %%" alt="">
                                    <% endif %>
                        </div>
                        <div class="col vs-text-con">
                            <div>
                                <table>
                                    <tr>
                                        <td style="padding-right: 80px;" class="vs-table-info">
                                            <p>Title:</p>
                                        </td>
                                        <td>
                                            <p>%% professor['title'] %%</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-right: 80px;" class="vs-table-info">
                                            <p>Name:</p>
                                        </td>
                                        <td>
                                            <p>%% professor['name'] %%</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="vs-table-info">
                                            <p>Surname: </p>
                                        </td>
                                        <td>
                                            <p>%% professor['surname'] %%</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="vs-table-info">
                                            <p>ID:</p>
                                        </td>
                                        <td>
                                            <p class="vs-gray-info">%% professor['id'] %%</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div style="margin-left: 20px; display:flex;align-items: center;" class="col">
                            <table>
                                <tr>
                                    <td style="padding-right: 50px;" class="vs-table-info">
                                        <p>
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </p>
                                    </td>
                                    <td>
                                        <p>%% professor['email'] %%</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="vs-table-info">
                                        <p>
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                        </p>
                                    </td>
                                    <td>
                                        <p>%% professor['phone'] %%</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="vs-table-info">
                                        <p>
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                        </p>
                                    </td>
                                    <td>
                                        <p>%% professor['adress'] %%</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col main-parent-con">
                            <div>
                                <p class="view-rel-headline">Classes</p>
                                <div class="parents-con">
                                    <% for tempClass in professor['classes'] %>
                                        <% if 'altname' in professor['classes'] %>
                                            <a class="relative-ref custom-button" data-classID="%% tempClass['id'] %%" href="#">%% tempClass['altname'] %%</a>
                                            <br>
                                        <% else %>
                                            <a class="relative-ref custom-button" data-classID="%% tempClass['id'] %%" href="#">%% tempClass['name'] %%</a>
                                            <br>
                                        <% endif %>
                                        <% endfor %>
                                </div>

                            </div>
                        </div>
                    </div>
                    <% if userPrivilege >= 3 %>
                        <div class="row manipulate-buttons-con">
                            <button id="editProfessorButton" class="btn btn-outline-secondary">Edit</button>
                        </div>
                        <% endif %>
                </div>

                <script>
                    $(function () {

                        // Make refs to children pages
                        classes = document.getElementsByClassName('relative-ref');

                        for (let index = 0; index < classes.length; index++) {
                            let adress = "%% url_for('viewClass') %%" + '?id=' + classes[index].getAttribute(
                                'data-classID');
                            children[index].setAttribute('href', adress);
                        }

                        // Setting up the editButton
                        $('#editProfessorButton').on('click', () => {
                            let adress = "%% url_for('editProfessor') %%" + '?id=' +
                                "%% professor['id'] %%";
                            window.location.href = adress;
                        })
                    })
                </script>

                <% endblock %>