<% extends "main_template.html" %>
    <% block title %>%% student['surname'] %% %% student['name'] %%
        <%endblock%>
            <% block content %>

                <div class="container vs-main-con">
                    <div id="alertMessage" style="margin-bottom: 20px; display:none;" class="alert alert-danger alert-dismissible fade show"
                        role="alert">
                        <button type="button" class="close" id="alertDismiss" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p style="margin-bottom: 0;">Alert</p>

                    </div>
                    <form id="validationForm"></form>
                    <div class="row">
                        <div class="col prof-image-con">
                                <% if isMale %>
                                <img src="%% url_for('static', filename='images/placeholder_male.jpg') %%" alt="">
                            <% else %>
                                <img src="%% url_for('static', filename='images/placeholder_female.jpg') %%" alt="">
                            <% endif %>
                        </div>
                        <div class="col vs-text-con">
                            <div>

                                <table>
                                    <tr>
                                        <td style="padding-right: 80px;" class="vs-table-info">
                                            <p>Name:</p>
                                        </td>
                                        <td>
                                            <div style="margin-bottom:1rem;" class="col-sm-10">
                                                <input data-validation="name" id="nameInput" class="form-control" value="%% student['name'] %%" placeholder="%% student['name'] %%"
                                                    type="text" onkeyup="checkkValidity(event)">
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="vs-table-info">
                                            <p>Surname: </p>
                                        </td>
                                        <td>
                                            <div style="margin-bottom:1rem;" class="col-sm-10">
                                                <input data-validation="surname" id="surnameInput" class="form-control" value="%% student['surname'] %%" placeholder="%% student['surname'] %%"
                                                    onkeyup="checkkValidity(event)">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="vs-table-info">
                                            <p>ID:</p>
                                        </td>
                                        <td>
                                            <p style="color: rgb(206, 206, 206)">%% student['id'] %%</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="vs-table-info">
                                            <p>Class ID: </p>
                                        </td>
                                        <td>
                                            <div style="margin-bottom:1rem;" class="col-sm-10">
                                                <input id="classIDInput" class="form-control" value="%% student['class']['id'] %%" placeholder="remove">
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div style="margin-left: 20px; display:flex;align-items: center;" class="col">
                            <table>
                                <tr>
                                    <td style="padding-right: 50px;" class="vs-table-info">
                                        <p>
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </p>
                                    </td>
                                    <td>
                                        <div style="margin-bottom:1rem;" class="col-sm-12">
                                            <input id="emailInput" class="form-control" value="%% student['email'] %%" type="text">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="vs-table-info">
                                        <p>
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                        </p>
                                    </td>
                                    <td>
                                        <div style="margin-bottom:1rem;" class="col-sm-12">
                                            <input id="phoneInput" class="form-control" value="%% student['phone'] %%" placeholder="%% student['phone']%%">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="vs-table-info">
                                        <p class="no-bottom-margin">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                        </p>
                                    </td>
                                    <td>
                                        <div class="col-sm-12">
                                            <input id="adressInput" class="form-control" value="%% student['adress'] %%" placeholder="%% student['adress']%%">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col main-parent-con">
                            <div>
                                <p class="view-rel-headline">Parents</p>
                                <div class="parents-con">
                                    <% for parent in student['parents'] %>
                                        <div class="col-sm-10">
                                            <input class="form-control parentIDInput" value="%% parent['id'] %%" placeholder="%% parent['id'] %%">
                                        </div>
                                        <% endfor %>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row manipulate-buttons-con">
                        <button id="updateStudent" class="btn btn-outline-primary">Save</button>
                        <button class="btn btn-outline-danger">
                            Delete
                        </button>
                    </div>
                </div>

                <script>
                    let requiredInputs = {
                        'name': true,
                        'surname': true
                    }
                    // Validation
                    function checkkValidity(event) {
                        let $target = $(event.target);
                        if ($target.val() === '') {
                            $target.addClass('is-invalid')
                            requiredInputs[$target.attr('data-validation')] = false;
                        } else {
                            $target.removeClass('is-invalid')
                            requiredInputs[$target.attr('data-validation')] = true;
                        }
                    }

                    function getStudentData() {
                        postStudent = {
                            'name': $('#nameInput').val(),
                            'id': parseInt("%% student['id'] %%"),
                            'surname': $('#surnameInput').val(),
                            'classID': parseInt($('#classIDInput').val()),
                            'email': $('#emailInput').val(),
                            'phone': $('#phoneInput').val(),
                            'adress': $('#adressInput').val(),
                            'parents': []
                        };

                        // Appending all the parents found
                        $('.parentIDInput').each(function () {
                            postStudent['parents'].push(parseInt($(this).val()));
                        });
                        return postStudent
                    }

                    function postData(dataToPost) {
                        $.ajax({
                            type: "post",
                            url: "%% url_for('updateStudentRoute') %%",
                            // The key needs to match your method's input parameter (case-sensitive).
                            data: JSON.stringify(dataToPost),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                if (data.success) {
                                    window.location.href = "%% url_for('viewStudent') %%" + '?id=' +
                                        "%% student['id'] %%";
                                } else {
                                    $('#alertMessage').find('p').text(data.message);
                                    $('#alertMessage').show(200);
                                }
                            },
                            failure: function (errMsg) {
                                alert(errMsg);
                            }
                        });
                    }


                    $(function () {

                        // Make refs to parent pages
                        parents = document.getElementsByClassName('parent-ref');

                        for (let index = 0; index < parents.length; index++) {
                            let adress = "%% url_for('viewParent') %%" + '?id=' + parents[index].getAttribute(
                                'data-parentID');
                            parents[index].setAttribute('href', adress);
                        }

                        // Make refs to Class page
                        // Doing it dynamically with loop prevents out of index error if there are no class-ref elements
                        classRef = document.getElementsByClassName('class-ref')
                        for (let index = 0; index < classRef.length; index++) {
                            let adress = "%% url_for('viewClass') %%" + '?id=' + classRef[index].getAttribute(
                                'data-classID');
                            classRef[index].setAttribute('href', adress);
                        }

                        $('#alertDismiss').on('click', () => {
                            $('#alertMessage').hide(200);
                        })



                        $("#updateStudent").on('click', () => {
                            // Creating a student to post
                            // Validate
                            let allValid = true;
                            for (key in requiredInputs) {
                                if (requiredInputs[key] === false) {
                                    allValid = false;
                                }
                            }

                            if (allValid) {
                                postData(getStudentData())
                            }else {
                                $('#alertMessage').find('p').text('All fields in red are required!');
                                $('#alertMessage').show(200);
                            }
                        })
                    })
                </script>

                <% endblock %>