body {
    padding-top: 3.1rem;
}

/* viewStudent */
#vs-info-wrap {
    text-align: right;
}

.vs-main-con {
    margin-top: 50px;
    width: 70%;
    background-color: lightgrey;
}

/* end viewStudent*/


.bg-moj {
    background-color: #385777;
}

.table-header {
    border: 0;
    padding-top: 15px;
    background-color: white;
    border-bottom: 0.13em solid rgb(155, 154, 154);
}

.dis {
    border-bottom: 1.5px solid rgb(201, 201, 201);
}

.table-header:focus {
    border-color: rgb(102, 102, 102);
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* DROPDOWN */
.no-hover {
    background-image: none;
    background-color: rgba(255, 255, 255, 0) !important;
}

.dropdown-item {
    padding: 12px;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-divider {
    margin: 0;
}

.logout {
    display: inline;
    text-decoration: none !important;
}

.logout-con {
    color: #999;
}

.logout-con:hover {
    color: gray;
}


.dropdown-item-first {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.dropdown-item-last {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.dropdown-item:hover {
    background-color: rgba(233, 233, 233, 0.39);
}

.fa-sign-out {
    margin-top: 3px;
    margin-right: 5px;
}

/* END DROPDOWN */

table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #fff;
}

.sipka {
    filter: opacity(60%);
    display: inline-block;
    width: 20px;
    cursor: pointer;
}

table>thead>tr>th {
    text-align: left;
}

table>thead>tr>th>div {
    text-align: center;
    display: inline-block;
    height: auto;
}

.user-icon {
    font-size: 30px;
    color: white;
}

.user-name {
    display: inline;
    color: white;
    margin-right: 10px;
    font-size: 24px;
}

.user-container {
    cursor: pointer;
}

.fa-sign-out {
    float: right;
}

.drp {
    margin-left: -35px;
}

.display-row {
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.display-row:hover {
    background-color: #f1fbff;;
}

.sipka-hide {
    visibility: hidden;
}