<% extends "main_template.html" %> <% block content %>
<table id="tabulka" class="table sticky-header">
    <thead class="table-header">
        <tr>
            <th data-tsorter="numeric">
                <div>
                    <input id="inputID" onkeyup="filterByID()" class="table-header" type="text" placeholder="#">
                    <img onclick="switchSortIconAndRedirect(this)" data-sorterID="id" class="sipka sorter" src="%% url_for('static', filename='images/icons/desc.png') %%"
                        alt="" srcset="">
                </div>
            </th>
            <th>
                <div>
                    <input id="inputName" onkeyup="menaFilter()" class="table-header" type="text" placeholder="Name">
                    <img onclick="switchSortIconAndRedirect(this)" data-sorterID="name" class="sipka sorter" src="%% url_for('static', filename='images/icons/no.png') %%"
                        alt="" srcset="">
                </div>
            </th>
            <th>
                <div>
                    <input id="inputSurname" onkeyup="priezvFilter()" class="table-header" type="text" placeholder="Start">
                    <img onclick="switchSortIconAndRedirect(this)" data-sorterID="start" class="sipka sorter" src="%% url_for('static', filename='images/icons/no.png') %%"
                        alt="" srcset="">
                </div>
            </th>
            <th>
                <div>
                    <input class="table-header dis" type="text" placeholder="Class room" disabled>
                    <div class="placeholderDiv"></div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <% if orderDirection == 'asc' %>
            <% for class in data | reverse %>
            <tr>
                <td>%% class['id']%%</td>
                <td>
                    <% if 'altname' in class%>
                        %% class['altname'] %%
                    <% else %>
                        %% class['name'] %%
                    <% endif %>
                </td>
                <td>%% class['start'] %%</td>
                <td>%% class['room'] %%</td>
            </tr>
            <% endfor %>
        <% else %>
            <% for class in data %>
            <tr>
                <td>%% class['id']%%</td>
                <td>
                    <% if 'altname' in class%>
                        %% class['altname'] %%
                    <% else %>
                        %% class['name'] %%
                    <% endif %>
                </td>
                <td>%% class['start'] %%</td>
                <td>%% class['room'] %%</td>
            </tr>
            <% endfor %>
        <% endif %>
    </tbody>
</table>

<script>
    let mainSorter = {
        ID: '%% orderBy %%',
        order: '%% orderDirection %%'
    };

    function switchSortIconAndRedirect(caller) {
        if (caller.getAttribute('data-sorterID') != mainSorter.ID) {
            //Zmenit mainSorter
            mainSorter.ID = caller.getAttribute('data-sorterID');
            mainSorter.order = 'desc';

        } else {
            //Zmenime mainSorter order
            if (mainSorter.order === 'asc') {
                mainSorter.order = 'desc';
            } else {
                mainSorter.order = 'asc';
            }
        }
        window.location.replace('%% url_for("classes")%%' + '?orderBy=' + mainSorter.ID + '&order=' + mainSorter.order)
    }

    $(() => {

        if (mainSorter.order === "None") {
            mainSorter.order = "desc";
        }
        //Zmenit znaky na vsetkych ostatnych
        ostatne = document.getElementsByClassName('sorter');
        for (var i = 0; i < ostatne.length; i++) {
            ostatne[i].src = "%% url_for('static', filename='images/icons/no.png')%%";
            if (ostatne[i].getAttribute('data-sorterID') == mainSorter.ID){
                if (mainSorter.order === 'desc') {
                    ostatne[i].src = "%% url_for('static', filename='images/icons/desc.png') %%";
                }else {
                    ostatne[i].src = "%% url_for('static', filename='images/icons/asc.png') %%";
                }
            }
        }

        $('#nav-' + '%% current %%').addClass('active');
    })
</script>



<script src="%%url_for('static',filename='js/filter.js')%%"></script>
<script src="%%url_for('static',filename='js/stickyTableHeader.js', v='0.15')%%"></script>
<% endblock %>