<% extends "main_template.html" %> <% block content %>
<table id="tabulka" class="table sticky-header">
    <thead class="table-header">
        <tr>
            <th data-tsorter="numeric">
                <div>
                    <input id="inputID" onkeyup="filterByID()" class="table-header" type="text" placeholder="#">
                    <img onclick="switchB(this)" data-sorterID="id" class="sipka sorter" src="%% url_for('static', filename='images/icons/desc.png') %%"
                        alt="" srcset="">
                </div>
            </th>
            <th>
                <div>
                    <input id="inputName" onkeyup="menaFilter()" class="table-header" type="text" placeholder="Meno">
                    <img onclick="switchB(this)" data-sorterID="name" class="sipka sorter" src="%% url_for('static', filename='images/icons/no.png') %%"
                        alt="" srcset="">
                </div>
            </th>

            <th>
                <div>
                    <input id="inputSurname" onkeyup="priezvFilter()" class="table-header" type="text" placeholder="Priezvisko">
                    <img onclick="switchB(this)" data-sorterID="surname" class="sipka sorter" src="%% url_for('static', filename='images/icons/no.png') %%"
                        alt="" srcset="">
                </div>
            </th>
            <th>
                <div>
                    <input class="table-header dis" type="text" placeholder="Email" disabled>
                    <div class="placeholderDiv"></div>
                </div>
            </th>
            <th>
                <div>
                    <input class="table-header dis" type="text" placeholder="Telefon" disabled>
                    <div class=""></div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <% for student in ala %>
        <tr>
            <td>%% student['id']%%</td>
            <td>%% student['name'] %%</td>
            <td>%% student['surname'] %%</td>
            <td>%% student['email'] %%</td>
            <td>%% student['phone'] %%</td>
        </tr>
        <% endfor %>
    </tbody>
</table>

<script>
    mainSorter = {
        ID: '%% by %%',
        order: 'desc'
    }

    function switchB(caller) {
        if (caller.getAttribute('data-sorterID') != mainSorter.ID) {
            //Zmenit mainSorter
            mainSorter.ID = caller.getAttribute('data-sorterID');
            mainSorter.order = 'desc';

        } else {
            //Nerobime nic s ostatnymi
            //Zmenime mainSorter order
            if (mainSorter.order === 'asc') {
                mainSorter.order = 'desc';
                caller.src = "%% url_for('static', filename='images/icons/desc.png') %%";
            } else {
                mainSorter.order = 'asc';
                caller.src = "%% url_for('static', filename='images/icons/asc.png') %%";
            }
        }
        window.location.replace('%% url_for("index")%%' + '?orderBy=' + mainSorter.ID)
    }

    $(() => {
        //Zmenit znaky na vsetkych ostatnych
        ostatne = document.getElementsByClassName('sorter');
        console.log('ostatne len: ' + ostatne.length);
        for (var i = 0; i < ostatne.length; i++) {
            ostatne[i].src = "%% url_for('static', filename='images/icons/no.png')%%";
            if (ostatne[i].getAttribute('data-sorterID') == mainSorter.ID){
                ostatne[i].src = "%% url_for('static', filename='images/icons/desc.png') %%";
            }
        }

        $('#nav-' + '%% current %%').addClass('active');
    })
</script>



<script src="%%url_for('static',filename='js/filter.js')%%"></script>
<script src="%%url_for('static',filename='js/stickyTableHeader.js', v='0.15')%%"></script>
<% endblock %>