<% extends "skeleton.html" %>
    <% block body %>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-moj">
            <a class="navbar-brand" href="#">
                <img style="width: 130px; border-radius: 50%;" src=" %% url_for('static', filename='images/logo.png') %%" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li id="nav-students" class="nav-item">
                        <a class="nav-link" href="%% url_for('students') %%">Students
                        </a>
                    </li>
                    <li id="nav-classes" class="nav-item">
                        <a class="nav-link" href="%% url_for('classes') %%">Classes</a>
                    </li>
                    <li id="nav-professors" class="nav-item">
                        <a class="nav-link" href="%% url_for('professors') %%">Professors</a>
                    </li>
                    <li id="nav-parents" class="nav-item">
                        <a class="nav-link" href="%% url_for('parents') %%">Parents</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                        <div onclick="console.log('Hi');" class="user-container nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p class="user-name">%% userName %%</p>
                            <i class="fa fa-user user-icon" aria-hidden="true"></i>
                        </div>
                        <div class="dropdown-menu drp" aria-labelledby="navbarDropdownMenuLink">
                            <a style="color: #6f6f6f" class="dropdown-item" href="#">Profile</a>
                            <div class="dropdown-divider"></div>

                            <a class="logout" href="%% url_for('login') %%">
                                <div class="dropdown-item logout-con">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    Logout
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="container-fluid">
            <% block content %>
                <% endblock %>
        </main>
        <% endblock %>