<% extends "skeleton.html" %>
<% block body %>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-moj">
    <a class="navbar-brand" href="#"><img style="width: 130px; border-radius: 50%;" src=" %% url_for('static', filename='images/logo.png') %%" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li id="nav-students" class="nav-item">
                <a class="nav-link" href="#">Students
                </a>
            </li>
            <li id="nav-classes" class="nav-item">
                <a class="nav-link" href="#">Classes</a>
            </li>
            <li id="nav-professors" class="nav-item">
                <a class="nav-link" href="#">Professors</a>
            </li>
            <li id="nav-parents" class="nav-item">
                    <a class="nav-link" href="#">Parents</a>
            </li>
        </ul>
        <i style="font-size: 20px;" class="fa fa-user" aria-hidden="true"></i>        
    </div>
</nav>

<main role="main" class="container-fluid">
    <% block content %><% endblock %>
</main>
<% endblock %>