<% extends "main_template.html" %>
    <% block title %> Register
        <% endblock %>
            <% block content %>
                <div class="containter" style="text-align:center;">
                    <% if message %>
                    <div>
                        <div class="alert alert-success">
                            <strong>Success!</strong> A user has been registered.
                        </div>
                    </div>
                    <% endif %>
                    <form action="%% url_for('register') %%" method="POST">
                        <div class="justify-content-center" style="margin-top:30px;width: 500px;display: inline-block;" class="form-group">
                            <input placeholder="Username" class="form-control" type="text" name="username">
                            <br>
                            <input placeholder="Password" class="form-control" type="text" name="password">
                            <br>
                            <input placeholder="Privilege" class="form-control" type="text" name="privilege">
                            <br>
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
                <% endblock %>