<% extends "main_template.html" %>
<% block title %>%% student['surname'] %% %% student['name'] %%<%endblock%>
    <% block content %>
        <div class="container vs-main-con">          

            <div class="row">
                <div class="col prof-image-con">
                    <img src="%% url_for('static', filename='images/prof_placeholder.jpg') %%" alt="">
                </div>
                <div class="col vs-text-con">
                    <div>
                        <table>
                            <tr>
                                <td style="padding-right: 80px;" class="vs-table-info">
                                    <p>Name:</p>
                                </td>
                                <td>
                                    <p>%% student['name'] %%</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="vs-table-info">
                                    <p>Surname: </p>
                                </td>
                                <td>
                                    <p>%% student['surname'] %%</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="vs-table-info">
                                    <p>ID:</p>
                                </td>
                                <td>
                                    <p>%% student['id'] %%</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div style="margin-left: 20px; display:flex;align-items: center;" class="col">
                    <table>
                        <tr>
                            <td style="padding-right: 50px;" class="vs-table-info">
                                <p>
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </p>
                            </td>
                            <td>
                                <p>%% student['email'] %%</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="vs-table-info">
                                <p>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </p>
                            </td>
                            <td>
                                <p>%% student['phone'] %%</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="vs-table-info">
                                <p class="no-bottom-margin">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                </p>
                            </td>
                            <td>
                                <p class="no-bottom-margin">%% student['adress'] %%</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col main-parent-con">
                    <div>
                        <p class="view-rel-headline">Parents</p>
                        <div class="parents-con">
                            <% for parent in student['parents'] %>
                                <a class="parent-ref" data-parentID="%% parent['id'] %%" href="#">%% parent['wholeName'] %%</a><br>
                            <% endfor %>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row manipulate-buttons-con">
                            <button class="btn btn-default">Edit</button>
            </div>
        </div>

        <script>
            $(function () {
                parents = document.getElementsByClassName('parent-ref');

                for (let index = 0; index < parents.length; index++) {
                    let adress = "%% url_for('viewParent') %%" + '?id=' + parents[index].getAttribute('data-parentID');
                    parents[index].setAttribute('href', adress);
                }
            })
        </script>

        <% endblock %>