<% extends "main_template.html" %>
    <% block content %>
        <div class="container vs-main-con">
            <div class="row">
                <div class="col">
                    <p>Meno</p>
                    <p>Priezv</p>
                    <p>Start</p>
                </div>
                <div class="col">
                    <p>Meno</p>
                    <p>Priezv</p>
                    <p>Start</p>
                </div>
            </div>
        </div>
        <% endblock %>