<% extends "main_template.html" %>
    <% block content %>
        <div class="container vs-main-con">
            <div class="row">
                <div class="col prof-image-con">
                    <img src="%% url_for('static', filename='images/prof_placeholder.jpg') %%" alt="">
                </div>
                <div class="col vs-text-con">
                    <div>
                        <table>
                            <tr>
                                <td style="padding-right: 80px;" class="vs-table-info">
                                    <p>Name:</p>
                                </td>
                                <td>
                                    <p>%% student['name'] %%</p>
                                </td>
                            </tr>
                            <tr>
                                <td  class="vs-table-info"> 
                                    <p>Surname: </p>
                                </td>
                                <td>
                                    <p>%% student['surname'] %%</p>
                                </td>
                            </tr>
                            <tr>
                                <td  class="vs-table-info">
                                    <p>ID:</p> 
                                </td>
                                <td>
                                    <p>%% student['id'] %%</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <hr>
            <div>hi</div>
        </div>
        <% endblock %>